body {
    background-color: #d4d669;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.form-container {
    display: inline-block;
    width: 350px;
    height: 370px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container select{
    display: block;
    width: 330px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #6b8e23;
    color: #fff;
    width: 300px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    display: block; 
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #556b2f;
}
